<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button color="light" text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Ideal-Itajuba
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="dark">
  <ion-grid mode="ios">
  <ion-card>
    <img src="assets/img/tabela.jpeg" class="tabela">
  </ion-card>



  <ion-card class="aviso" >
         <p>Nossa equipe entrará em contato.</p>
         <p>Por favor aguarde</p>
  </ion-card>

</ion-grid>
</ion-content>
