<ion-content color="dark">
  <ion-grid mode="ios">
    <ion-row>
      <img src="assets/img/icon.jpeg" class="login-logo">
    </ion-row>
    
      <ion-row>
        <ion-col mode="ios">
          <ion-card>
        <ion-item>
          <ion-icon name="person"></ion-icon>
          <ion-input type="text" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-open"></ion-icon>
          <ion-input type="text" placeholder="Senha"></ion-input>
        </ion-item>
      </ion-card>
      </ion-col>
      </ion-row>

      <div class="entrar">
        <ion-button>Entrar</ion-button>
      </div>

      <div class="cadastrar">
        <p>Ainda não possui cadastro?</p>
        <ion-button (click)="goToSignUpPage()">Cadastrar-se </ion-button>
      </div>

    
  </ion-grid>
</ion-content>